@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Sigmar&display=swap');
.App{
    text-align: center;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-gap: 10px;
    font-family: 'Fira Sans', sans-serif;

}