.about-us {
    margin: 6rem 6rem;
    text-align: center;
}
.title{
    margin-top: 8rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.about-us h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.about-us p {
    padding-bottom: 2rem;
}

@media screen and (max-width:850px) {
    .about-us{
        margin: 4rem 2rem;
    }
}